.pm-history-container {
	background-color: #eee;
	margin-top: 1em;
	padding-inline: 1em;
	border: 2px solid #000;

	.history-pm {
		padding-block: 1em;
	}

	.history-pm:not(.first) {
		border-top: 1px solid #000;
	}

	.title {
		font-weight: bold;
		margin-top: 0;
	}

	.user {
		font-size: 0.8em;
		line-height: 1em;
	}
}
