.character-sheet {
	display: flex;
	flex-direction: column;
	min-height: 0;
}

.sheet-logo {
	margin-bottom: 1em;

	img {
		margin-inline: auto;
	}
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}
