.edit-profile-page {
	form {
		textarea {
			width: 100%;
			max-width: 400px;
			height: calc(var(--line-height) * 3);
		}

		:global(.error) {
			margin-top: 0.5em;
		}

		&.security-form {
			& > div:first-child {
				display: block;
				grid-column: span 2;
				width: 0;
				min-width: 100%;
			}
		}
	}
}

.save-indicator {
	margin-left: 0.75em;
}

.edit-settings_avatar {
	input[type="file"] {
		margin-block: 0.5em;
	}
	p {
		font-size: var(--font-size-sm);
		margin-bottom: 0;
	}
}
