COMPOSE_PROJECT_NAME=gamersplane

ENVIRONMENT=
HOST_NAME=
API_HOST_NAME=
COOKIE_DOMAIN=
ROOT_DIR=
API_SERVER_NAMES=

JWT_ALGORITHM=HS256
JWT_SECRET_KEY=
PVAR=

PAGINATE_PER_PAGE=20

DATABASE_DIALECT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DATABASE=gamersplane
DATABASE_USER=gamersplane
DATABASE_PASSWORD=
DATABASE_SSH_USERNAME=

REDIS_HOST=
REDIS_TTL=

EMAIL_URI=

OPENDKIM_KEY=
OPENDKIM_SELECTOR=
POSTFIX_MYHOSTNAME=
