COMPOSE_PROJECT_NAME=gamersplane

ENVIRONMENT=dev
HOST_NAME=http://gamersplane.local
API_PATH=http://gamersplane.local

JWT_ALGORITHM=HS256
JWT_SECRET_KEY=

MYSQL_ROOT_PASSWORD=test123
MYSQL_HOST=mysql
MYSQL_DATABASE=gamersplane
MYSQL_USER=gamersplane
MYSQL_PASSWORD=test123

REDIS_HOST=redis://cache:6379/0
REDIS_TTL=86400

DJANGO_SECRET_KEY=

EMAIL_URI=postfix

OPENDKIM_KEY=
OPENDKIM_SELECTOR=
POSTFIX_MYHOSTNAME=

PAGINATE_PER_PAGE=20
