COMPOSE_PROJECT_NAME=gamersplane

ENVIRONMENT=
TZ=
HOST_NAME=
API_HOST_NAME=
VITE_API_BASE_URL=
COOKIE_DOMAIN=
ROOT_DIR=
API_SERVER_NAMES=

JWT_ALGORITHM=
JWT_SECRET_KEY=
PVAR=

PAGINATE_PER_PAGE=20

DATABASE_DIALECT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DATABASE=gamersplane
DATABASE_USER=gamersplane
DATABASE_PASSWORD=
DATABASE_SSH_USERNAME=

CACHE_HOST=redis://cache:6379/0
CACHE_TTL=86400

EMAIL_URI=postfix

OPENDKIM_KEY=
OPENDKIM_SELECTOR=
POSTFIX_MYHOSTNAME=
