header {
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	background: light-dark(#ddd, #444);
	box-shadow: 0 1px 20px 1px #777;
	height: 70px;

	&.landing {
		height: 120px;
	}

	& > :global(.page-wrap),
	& > :global(.page-wrap) nav > ul {
		height: 100%;
	}

	& > :global(.page-wrap) {
		display: flex;
		padding-block: 0.5em;
	}

	.header-logo {
		line-height: 1em;
		align-content: center;

		img {
			height: 90%;
			object-fit: cover;
		}
	}

	nav {
		flex-grow: 1;
		margin-right: 20px;

		& > ul {
			display: flex;
			justify-content: end;
			align-items: center;
		}

		a,
		a:visited,
		a:active,
		button {
			display: block;
			font-size: 1.2em;
			height: 2.5em;
			padding: 0 10px;
			font-family: "OpenSans";
			font-weight: bold;
			color: var(--text);
			line-height: 2.5em;

			&:hover {
				text-decoration: underline;
			}
		}

		:global(.theme-toggle-icon-auto) :global(#theme-toggle-icon-layer-light) {
			stroke: light-dark(transparent, #fff);
			stroke-width: 4px;
		}

		:global(.light-layer),
		:global(.dark-layer) {
			transition: opacity 0.5s ease;
		}

		:global(.theme-toggle-icon-dark) {
			:global(.light-layer) {
				opacity: 0;
			}

			:global(.dark-layer) path:first-of-type {
				stroke: #fff;
				stroke-width: 2px;
			}
		}

		:global(.theme-toggle-icon-light) :global(.dark-layer) {
			opacity: 0;
		}

		.has-dropdown {
			position: relative;

			.dropdown {
				position: absolute;
				top: 100%;
				left: 0;
				animation: dropdown-slide 0.15s ease-out;
			}
		}

		[popover].dropdown {
			position: fixed;
			inset: auto;
			margin: 0;
			overflow: visible;
		}

		.dropdown {
			--border-radius: 1px;
			position: relative;
			background: var(--bg);
			border: var(--border-radius) solid var(--text);
			border-radius: 0.3em;

			&::before,
			&::after {
				content: "";
				position: absolute;
			}

			--triangle-size: 12px;
			--triangle-size-inner: calc(var(--triangle-size) - var(--border-radius));
			&::before {
				left: 10px;
				top: calc(-1 * var(--triangle-size));
				border-left: var(--triangle-size) solid transparent;
				border-right: var(--triangle-size) solid transparent;
				border-bottom: var(--triangle-size) solid var(--bg-inverse);
			}

			&::after {
				left: calc(10px + var(--border-radius));
				top: calc(-1 * var(--triangle-size) + var(--border-radius));
				border-left: var(--triangle-size-inner) solid transparent;
				border-right: var(--triangle-size-inner) solid transparent;
				border-bottom: var(--triangle-size-inner) solid var(--bg);
			}

			li:not(:last-child) {
				border-bottom: 1px solid #ddd;
			}

			a:hover {
				background: var(--gp-light-red);
				color: var(--bg);
				text-decoration: none;
			}
		}
	}

	.header-register,
	.header-login {
		a {
			font-weight: normal;
		}
	}

	.header-login a {
		color: light-dark(var(--gp-red), var(--gp-light-red));
	}

	.header-register,
	.header-theme-toggle,
	.header-avatar {
		position: relative;
		padding-left: calc(10px * 2 + 2px);

		&::before {
			content: "";
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			width: 2px;
			height: 2.5em;
			background: #999;
		}
	}

	.header-avatar {
		padding-left: calc(10px * 2 + 0.75em);

		& > button {
			height: 2.5em;
			border: 1px solid var(--gp-red);
			background: var(--bg);
			padding: 0;
			cursor: pointer;
		}

		img {
			max-height: 100%;
			max-width: 100%;
			object-fit: contain;
		}
	}

	#header_user-menu {
		width: max-content;

		&::before {
			left: auto;
			right: 10px;
		}

		&::after {
			left: auto;
			right: calc(10px + var(--border-radius));
		}

		& > li > * {
			width: 100%;
			text-align: left;
		}

		:global(.theme-toggle) {
			display: flex;
			align-items: center;
		}

		:global(.theme-toggle) svg {
			margin-left: 0.5em;
		}
	}
}

.header-avatar {
	position: relative;
}

.header-new-messages {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
}

@keyframes dropdown-slide {
	from {
		transform: translateY(-6px);
	}
	to {
		transform: translateY(0);
	}
}
