:global(.hb-topper) {
	a {
		padding: 0.5em 0.8em;
	}
}

:global(#games-playing) {
	:global(.hb-topper) {
		a:first-child {
			border-right: 1px solid var(--gp-light-red);
		}
	}
}

:global(#games-playing),
:global(#games-running) {
	:global(h2.headerbar) {
		margin-bottom: 0;
	}
}

.forum-link {
	white-space: nowrap;
}

.notice {
	color: light-dark(#666, #999);
	font-style: italic;
	text-wrap: pretty;
	text-align: center;
	margin-block: 1.5em;
}

.retired-games {
	summary {
		cursor: pointer;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
}
