@import 'tailwind.css';

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* -------- */

html {
	font-size: 13px;
	font-family: 'OpenSans_Regular', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	line-height: 1.3em;
}

body {
	background-color: #333;
}

a, a:visited, a:active, .fauxLink, button.normal, button.normal:visited, button.normal:active {
	text-decoration: none;
	color: #B00;
	outline: none;
	cursor: pointer;
}

a[name] {
	position: relative;
	top: -70px;
}

a:hover {
	color: #06D;
/*	text-decoration: underline;*/
}
