<header [ngClass]="headerSize" class="w-full fixed z-50">
	<div id="background" class="absolute w-full bg-grey-light"></div>
	<div class="container mx-auto px-3 mx:p-0 relative flex items-center">
		<a id="logoWrapper" routerLink="/" class="flex-initial">
			<gp-logo></gp-logo>
		</a>
		<div *ngIf="(screenWidth$ | async) >= 1024 || mobileOpen" id="menuWrapper" class="flex justify-end items-center flex-grow">
			<ul id="mainMenu">
				<li *ngFor="let menuItem of menu">
					<ng-container *ngIf="loggedIn || !menuItem['loggedIn']">
						<a *ngIf="!menuItem['children']" [routerLink]="menuItem['link']">{{menuItem['label']}}</a>
						<ng-container *ngIf="menuItem['children']">
							<a (click)="toggleMenu($event, menuItem['link'], menuItem['label'])" [class.first]="first">{{menuItem['label']}}</a>
							<ul [@slideHeight]="toggleHeight[menuItem['label']]">
								<li *ngFor="let subMenuItem of menuItem['children']"><a [routerLink]="subMenuItem['link']">{{subMenuItem['label']}}</a></li>
							</ul>
						</ng-container>
					</ng-container>
				</li>
			</ul>
			<ul id="portalMenu">
				<ng-container *ngIf="(currentUser$ | async) === null">
					<li id="register"><a (click)="openPortalModal('register')" class="last">Register</a></li>
					<li id="login"><a (click)="openPortalModal('login')">Login</a></li>
				</ng-container>
				<li *ngIf="currentUser$ | async" id="userMenu">
					<ng-container *ngIf="(screenWidth$ | async) >= 1024">
						<a (click)="toggleMenu($event, '/ucp', 'user')" class="avatar"><img [src]="(currentUser$ | async).getAvatar()"></a>
						<a *ngIf="(pmCount$ | async) > 0" routerLink="/pms" class="mail"><img src="/assets/images/envelope.jpg" title="Private Messages"
							 alt="Private Messages"></a>
					</ng-container>
					<ul [@slideHeight]="toggleHeight['user']">
						<li><a routerLink="/ucp">Profile</a></li>
						<li><a routerLink="/pms">Messages ({{pmCount$ | async}})</a></li>
						<li><a (click)="logout()" class="last">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div *ngIf="(screenWidth$ | async) < 1024 && mobileOpen" id="mobileMenuOverlay" (click)="closeMobileMenu()"></div>
		<div *ngIf="(screenWidth$ | async) < 1024 " id="mobileMenuIconWrapper" class="flex items-center justify-end flex-grow">
			<div id="mobileMenuIcon" (click)="openMobileMenu()" class="flex-initial center-hv bg-white border-2 border-black rounded-full cursor-pointer">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
				 y="0px" width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
					<path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2
							c0,1.104,0.896,2,2,2h24c1.104,0,2-0.896,2-2C30,14.896,29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24
							c1.104,0,2-0.896,2-2S29.104,22,28,22z" />
				</svg>
			</div>
		</div>
	</div>
</header>