.select,
.select *,
.select *::before,
.select *::after {
    box-sizing: border-box;
}

.select {
    --arrow-width: 14px;
    --border-width: 1px;

    position: relative;
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    min-width: 15ch;
    width: fit-content;

    &, & * {
        box-sizing: border-box;
    }

    &, .options {
        border: 1px solid theme('colors.gp-red');
        border-radius: 0.25em;
        background-color: #fff;
        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
        line-height: 1.2em;
    }

    &, .options > div {
        padding: 0.25em .5em;
    }

    &.open {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-color: transparent;
    }

    cursor: pointer;
    line-height: 1.1;


    .display, &::after {
        grid-area: select;
    }

    .display, input {
        margin: 0 calc(var(--arrow-width) * 2) 0 0;
    }

    input {
        grid-area: select;
        z-index: 1;
        outline: none;
    }

    &::after {
        content: "";
        justify-self: end;
        width: var(--arrow-width);
        height: 10px;
        /* margin-right: calc(var(--arrow-width) / 4); */
        background-color: theme('colors.gp-orange');
        clip-path: path('M14,4.6L7,10L0,4.6V1l7,5.4L14,1V4.6z');
    }

    &.open::after {
        transform: rotate(180deg);
    }

    .options {
        display: none;
        position: absolute;
        top: calc(100% - var(--border-width));
        left: calc(var(--border-width) * -1);
        right: calc(var(--border-width) * -1);
        padding: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: none;
    }

    &.open .options {
        display: block;
    }

    .focus {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 2px solid var(--select-focus);
        border-radius: inherit;
    }

    .select--disabled {
        cursor: not-allowed;
        background-color: #eee;
        background-image: linear-gradient(to top, #ddd, #eee 33%);
    }

    label {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .select + label {
        margin-top: 2rem;
    }
}
