@charset "UTF-8";
/*!
 * RPG Awesome 0.0.2 by Daniela Howe, Ivan Montiel
 * License - https://github.com/nagoshiashumari/Rpg-Awesome/blob/master/LICENSE.md
 * (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: "RPGAwesome";
	src: url("../fonts/RPG-Awesome.eot?v=0.1.0");
	src:
		url("../fonts/RPG-Awesome.eot?#iefix&v=0.1.0") format("embedded-opentype"),
		url("../fonts/RPG-Awesome.woff?v=0.1.0") format("woff"),
		url("../fonts/RPG-Awesome.ttf?v=0.1.0") format("truetype"),
		url("../fonts/RPG-Awesome.svg?v=0.1.0#rpg-awesome") format("svg");
	font-weight: normal;
	font-style: normal;
}
.ra {
	font-family: RPGAwesome;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

/* makes the font 33% larger relative to the icon container */
.ra-lg {
	font-size: 1.3333333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.ra-2x {
	font-size: 2em;
}

.ra-3x {
	font-size: 3em;
}

.ra-4x {
	font-size: 4em;
}

.ra-5x {
	font-size: 5em;
}

.ra-fw {
	text-align: center;
	width: 1.2857142857em;
}

.ra-ul {
	list-style-type: none;
	margin-left: 2.1428571429em;
	padding-left: 0;
}
.ra-ul > li {
	position: relative;
}

.ra-li {
	left: -2.1428571429em;
	position: absolute;
	text-align: center;
	top: 0.1428571429em;
	width: 2.1428571429em;
}
.ra-li.ra-lg {
	left: -1.8571428571em;
}

.ra-border {
	border: solid 0.08em #eee;
	border-radius: 0.1em;
	padding: 0.2em 0.25em 0.15em;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.ra.pull-left {
	margin-right: 0.3em;
}
.ra.pull-right {
	margin-left: 0.3em;
}

.ra-spin {
	-webkit-animation: ra-spin 2s infinite linear;
	animation: ra-spin 2s infinite linear;
}

@-webkit-keyframes ra-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes ra-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
.ra-rotate-90 {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.ra-rotate-180 {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.ra-rotate-270 {
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.ra-flip-horizontal {
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.ra-flip-vertical {
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}

:root .ra-rotate-90,
:root .ra-rotate-180,
:root .ra-rotate-270,
:root .ra-flip-horizontal,
:root .ra-flip-vertical {
	filter: none;
}

.ra-stack {
	display: inline-block;
	height: 2em;
	line-height: 2em;
	position: relative;
	vertical-align: middle;
	width: 2em;
}

.ra-stack-1x,
.ra-stack-2x {
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.ra-stack-1x {
	line-height: inherit;
}

.ra-stack-2x {
	font-size: 2em;
}

.ra-inverse {
	color: #fff;
}

.ra-acid:before {
	content: "";
}

.ra-zigzag-leaf:before {
	content: "";
}

.ra-archer:before {
	content: "";
}

.ra-archery-target:before {
	content: "";
}

.ra-arena:before {
	content: "";
}

.ra-aries:before {
	content: "";
}

.ra-arrow-cluster:before {
	content: "";
}

.ra-arrow-flights:before {
	content: "";
}

.ra-arson:before {
	content: "";
}

.ra-aura:before {
	content: "";
}

.ra-aware:before {
	content: "";
}

.ra-axe:before {
	content: "";
}

.ra-axe-swing:before {
	content: "";
}

.ra-ball:before {
	content: "";
}

.ra-barbed-arrow:before {
	content: "";
}

.ra-barrier:before {
	content: "";
}

.ra-bat-sword:before {
	content: "";
}

.ra-battered-axe:before {
	content: "";
}

.ra-batteries:before {
	content: "";
}

.ra-battery-0:before {
	content: "";
}

.ra-battery-25:before {
	content: "";
}

.ra-battery-50:before {
	content: "";
}

.ra-battery-75:before {
	content: "";
}

.ra-battery-100:before {
	content: "";
}

.ra-battery-black:before {
	content: "";
}

.ra-battery-negative:before {
	content: "";
}

.ra-battery-positive:before {
	content: "";
}

.ra-battery-white:before {
	content: "";
}

.ra-batwings:before {
	content: "";
}

.ra-beam-wake:before {
	content: "";
}

.ra-bear-trap:before {
	content: "";
}

.ra-beer:before {
	content: "";
}

.ra-beetle:before {
	content: "";
}

.ra-bell:before {
	content: "";
}

.ra-biohazard:before {
	content: "";
}

.ra-bird-claw:before {
	content: "";
}

.ra-bird-mask:before {
	content: "";
}

.ra-blade-bite:before {
	content: "";
}

.ra-blast:before {
	content: "";
}

.ra-blaster:before {
	content: "";
}

.ra-bleeding-eye:before {
	content: "";
}

.ra-bleeding-hearts:before {
	content: "";
}

.ra-bolt-shield:before {
	content: "";
}

.ra-bomb-explosion:before {
	content: "";
}

.ra-bombs:before {
	content: "";
}

.ra-bone-bite:before {
	content: "";
}

.ra-bone-knife:before {
	content: "";
}

.ra-book:before {
	content: "";
}

.ra-boomerang:before {
	content: "";
}

.ra-boot-stomp:before {
	content: "";
}

.ra-bottle-vapors:before {
	content: "";
}

.ra-bottled-bolt:before {
	content: "";
}

.ra-bottom-right:before {
	content: "";
}

.ra-bowie-knife:before {
	content: "";
}

.ra-bowling-pin:before {
	content: "";
}

.ra-brain-freeze:before {
	content: "";
}

.ra-brandy-bottle:before {
	content: "";
}

.ra-bridge:before {
	content: "";
}

.ra-broadhead-arrow:before {
	content: "";
}

.ra-sword:before,
.ra-broadsword:before {
	content: "";
}

.ra-broken-bone:before {
	content: "";
}

.ra-broken-bottle:before {
	content: "";
}

.ra-broken-heart:before {
	content: "";
}

.ra-broken-shield:before {
	content: "";
}

.ra-broken-skull:before {
	content: "";
}

.ra-bubbling-potion:before {
	content: "";
}

.ra-bullets:before {
	content: "";
}

.ra-burning-book:before {
	content: "";
}

.ra-burning-embers:before {
	content: "";
}

.ra-burning-eye:before {
	content: "";
}

.ra-burning-meteor:before {
	content: "";
}

.ra-burst-blob:before {
	content: "";
}

.ra-butterfly:before {
	content: "";
}

.ra-campfire:before {
	content: "";
}

.ra-cancel:before {
	content: "";
}

.ra-cancer:before {
	content: "";
}

.ra-candle:before {
	content: "";
}

.ra-candle-fire:before {
	content: "";
}

.ra-cannon-shot:before {
	content: "";
}

.ra-capitol:before {
	content: "";
}

.ra-capricorn:before {
	content: "";
}

.ra-carrot:before {
	content: "";
}

.ra-castle-emblem:before {
	content: "";
}

.ra-castle-flag:before {
	content: "";
}

.ra-cat:before {
	content: "";
}

.ra-chain:before {
	content: "";
}

.ra-cheese:before {
	content: "";
}

.ra-chemical-arrow:before {
	content: "";
}

.ra-chessboard:before {
	content: "";
}

.ra-chicken-leg:before {
	content: "";
}

.ra-circle-of-circles:before {
	content: "";
}

.ra-circular-saw:before {
	content: "";
}

.ra-circular-shield:before {
	content: "";
}

.ra-cloak-and-dagger:before {
	content: "";
}

.ra-clockwork:before {
	content: "";
}

.ra-clover:before {
	content: "";
}

.ra-clovers:before {
	content: "";
}

.ra-clovers-card:before {
	content: "";
}

.ra-cluster-bomb:before {
	content: "";
}

.ra-coffee-mug:before {
	content: "";
}

.ra-cog:before {
	content: "";
}

.ra-cog-wheel:before {
	content: "";
}

.ra-cold-heart:before {
	content: "";
}

.ra-compass:before {
	content: "";
}

.ra-corked-tube:before {
	content: "";
}

.ra-crab-claw:before {
	content: "";
}

.ra-cracked-helm:before {
	content: "";
}

.ra-cracked-shield:before {
	content: "";
}

.ra-croc-sword:before {
	content: "";
}

.ra-crossbow:before {
	content: "";
}

.ra-crossed-axes:before {
	content: "";
}

.ra-crossed-bones:before {
	content: "";
}

.ra-crossed-pistols:before {
	content: "";
}

.ra-crossed-sabres:before {
	content: "";
}

.ra-crossed-swords:before {
	content: "";
}

.ra-crown:before {
	content: "";
}

.ra-crown-of-thorns:before {
	content: "";
}

.ra-crowned-heart:before {
	content: "";
}

.ra-crush:before {
	content: "";
}

.ra-crystal-ball:before {
	content: "";
}

.ra-crystal-cluster:before {
	content: "";
}

.ra-crystal-wand:before {
	content: "";
}

.ra-crystals:before {
	content: "";
}

.ra-cubes:before {
	content: "";
}

.ra-cut-palm:before {
	content: "";
}

.ra-cycle:before {
	content: "";
}

.ra-daggers:before {
	content: "";
}

.ra-daisy:before {
	content: "";
}

.ra-dead-tree:before {
	content: "";
}

.ra-death-skull:before {
	content: "";
}

.ra-decapitation:before {
	content: "";
}

.ra-defibrillate:before {
	content: "";
}

.ra-demolish:before {
	content: "";
}

.ra-dervish-swords:before {
	content: "";
}

.ra-desert-skull:before {
	content: "";
}

.ra-diamond:before {
	content: "";
}

.ra-diamonds:before {
	content: "";
}

.ra-diamonds-card:before {
	content: "";
}

.ra-dice-five:before {
	content: "";
}

.ra-dice-four:before {
	content: "";
}

.ra-dice-one:before {
	content: "";
}

.ra-dice-six:before {
	content: "";
}

.ra-dice-three:before {
	content: "";
}

.ra-dice-two:before {
	content: "";
}

.ra-dinosaur:before {
	content: "";
}

.ra-divert:before {
	content: "";
}

.ra-diving-dagger:before {
	content: "";
}

.ra-double-team:before {
	content: "";
}

.ra-doubled:before {
	content: "";
}

.ra-dragon:before {
	content: "";
}

.ra-dragon-breath:before {
	content: "";
}

.ra-dragon-wing:before {
	content: "";
}

.ra-dragonfly:before {
	content: "";
}

.ra-drill:before {
	content: "";
}

.ra-dripping-blade:before {
	content: "";
}

.ra-dripping-knife:before {
	content: "";
}

.ra-dripping-sword:before {
	content: "";
}

.ra-droplet:before {
	content: "";
}

.ra-droplet-splash:before {
	content: "";
}

.ra-droplets:before {
	content: "";
}

.ra-duel:before {
	content: "";
}

.ra-egg:before {
	content: "";
}

.ra-egg-pod:before {
	content: "";
}

.ra-eggplant:before {
	content: "";
}

.ra-emerald:before {
	content: "";
}

.ra-energise:before {
	content: "";
}

.ra-explosion:before {
	content: "";
}

.ra-explosive-materials:before {
	content: "";
}

.ra-eye-monster:before {
	content: "";
}

.ra-eye-shield:before {
	content: "";
}

.ra-eyeball:before {
	content: "";
}

.ra-fairy:before {
	content: "";
}

.ra-fairy-wand:before {
	content: "";
}

.ra-fall-down:before {
	content: "";
}

.ra-falling:before {
	content: "";
}

.ra-fast-ship:before {
	content: "";
}

.ra-feather-wing:before {
	content: "";
}

.ra-feathered-wing:before {
	content: "";
}

.ra-fedora:before {
	content: "";
}

.ra-fire:before {
	content: "";
}

.ra-fire-bomb:before {
	content: "";
}

.ra-fire-breath:before {
	content: "";
}

.ra-fire-ring:before {
	content: "";
}

.ra-fire-shield:before {
	content: "";
}

.ra-fire-symbol:before {
	content: "";
}

.ra-fireball-sword:before {
	content: "";
}

.ra-fish:before {
	content: "";
}

.ra-fizzing-flask:before {
	content: "";
}

.ra-flame-symbol:before {
	content: "";
}

.ra-flaming-arrow:before {
	content: "";
}

.ra-flaming-claw:before {
	content: "";
}

.ra-flaming-trident:before {
	content: "";
}

.ra-flask:before {
	content: "";
}

.ra-flat-hammer:before {
	content: "";
}

.ra-flower:before {
	content: "";
}

.ra-flowers:before {
	content: "";
}

.ra-fluffy-swirl:before {
	content: "";
}

.ra-focused-lightning:before {
	content: "";
}

.ra-food-chain:before {
	content: "";
}

.ra-footprint:before {
	content: "";
}

.ra-forging:before {
	content: "";
}

.ra-forward:before {
	content: "";
}

.ra-fox:before {
	content: "";
}

.ra-frost-emblem:before {
	content: "";
}

.ra-frostfire:before {
	content: "";
}

.ra-frozen-arrow:before {
	content: "";
}

.ra-gamepad-cross:before {
	content: "";
}

.ra-gavel:before {
	content: "";
}

.ra-gear-hammer:before {
	content: "";
}

.ra-gear-heart:before {
	content: "";
}

.ra-gears:before {
	content: "";
}

.ra-gecko:before {
	content: "";
}

.ra-gem:before {
	content: "";
}

.ra-gem-pendant:before {
	content: "";
}

.ra-gemini:before {
	content: "";
}

.ra-glass-heart:before {
	content: "";
}

.ra-gloop:before {
	content: "";
}

.ra-gold-bar:before {
	content: "";
}

.ra-grappling-hook:before {
	content: "";
}

.ra-grass:before {
	content: "";
}

.ra-grass-patch:before {
	content: "";
}

.ra-grenade:before {
	content: "";
}

.ra-groundbreaker:before {
	content: "";
}

.ra-guarded-tower:before {
	content: "";
}

.ra-guillotine:before {
	content: "";
}

.ra-halberd:before {
	content: "";
}

.ra-hammer:before {
	content: "";
}

.ra-hammer-drop:before {
	content: "";
}

.ra-hand:before {
	content: "";
}

.ra-hand-emblem:before {
	content: "";
}

.ra-hand-saw:before {
	content: "";
}

.ra-harpoon-trident:before {
	content: "";
}

.ra-health:before {
	content: "";
}

.ra-health-decrease:before {
	content: "";
}

.ra-health-increase:before {
	content: "";
}

.ra-heart-bottle:before {
	content: "";
}

.ra-heart-tower:before {
	content: "";
}

.ra-heartburn:before {
	content: "";
}

.ra-hearts:before {
	content: "";
}

.ra-hearts-card:before {
	content: "";
}

.ra-heat-haze:before {
	content: "";
}

.ra-heavy-fall:before {
	content: "";
}

.ra-heavy-shield:before {
	content: "";
}

.ra-helmet:before {
	content: "";
}

.ra-help:before {
	content: "";
}

.ra-hive-emblem:before {
	content: "";
}

.ra-hole-ladder:before {
	content: "";
}

.ra-honeycomb:before {
	content: "";
}

.ra-hood:before {
	content: "";
}

.ra-horn-call:before {
	content: "";
}

.ra-horns:before {
	content: "";
}

.ra-horseshoe:before {
	content: "";
}

.ra-hospital-cross:before {
	content: "";
}

.ra-hot-surface:before {
	content: "";
}

.ra-hourglass:before {
	content: "";
}

.ra-hydra:before {
	content: "";
}

.ra-hydra-shot:before {
	content: "";
}

.ra-ice-cube:before {
	content: "";
}

.ra-implosion:before {
	content: "";
}

.ra-incense:before {
	content: "";
}

.ra-insect-jaws:before {
	content: "";
}

.ra-interdiction:before {
	content: "";
}

.ra-jetpack:before {
	content: "";
}

.ra-jigsaw-piece:before {
	content: "";
}

.ra-kaleidoscope:before {
	content: "";
}

.ra-kettlebell:before {
	content: "";
}

.ra-key:before {
	content: "";
}

.ra-key-basic:before {
	content: "";
}

.ra-kitchen-knives:before {
	content: "";
}

.ra-knife:before {
	content: "";
}

.ra-knife-fork:before {
	content: "";
}

.ra-knight-helmet:before {
	content: "";
}

.ra-kunai:before {
	content: "";
}

.ra-lantern-flame:before {
	content: "";
}

.ra-large-hammer:before {
	content: "";
}

.ra-laser-blast:before {
	content: "";
}

.ra-laser-site:before {
	content: "";
}

.ra-lava:before {
	content: "";
}

.ra-leaf:before {
	content: "";
}

.ra-leo:before {
	content: "";
}

.ra-level-four:before {
	content: "";
}

.ra-level-four-advanced:before {
	content: "";
}

.ra-level-three:before {
	content: "";
}

.ra-level-three-advanced:before {
	content: "";
}

.ra-level-two:before {
	content: "";
}

.ra-level-two-advanced:before {
	content: "";
}

.ra-lever:before {
	content: "";
}

.ra-libra:before {
	content: "";
}

.ra-light-bulb:before {
	content: "";
}

.ra-lighthouse:before {
	content: "";
}

.ra-lightning:before {
	content: "";
}

.ra-lightning-bolt:before {
	content: "";
}

.ra-lightning-storm:before {
	content: "";
}

.ra-lightning-sword:before {
	content: "";
}

.ra-lightning-trio:before {
	content: "";
}

.ra-lion:before {
	content: "";
}

.ra-lit-candelabra:before {
	content: "";
}

.ra-load:before {
	content: "";
}

.ra-locked-fortress:before {
	content: "";
}

.ra-love-howl:before {
	content: "";
}

.ra-maggot:before {
	content: "";
}

.ra-magnet:before {
	content: "";
}

.ra-mass-driver:before {
	content: "";
}

.ra-match:before {
	content: "";
}

.ra-meat:before {
	content: "";
}

.ra-meat-hook:before {
	content: "";
}

.ra-medical-pack:before {
	content: "";
}

.ra-metal-gate:before {
	content: "";
}

.ra-microphone:before {
	content: "";
}

.ra-mine-wagon:before {
	content: "";
}

.ra-mining-diamonds:before {
	content: "";
}

.ra-mirror:before {
	content: "";
}

.ra-monster-skull:before {
	content: "";
}

.ra-mountains:before {
	content: "";
}

.ra-moon-sun:before {
	content: "";
}

.ra-mp5:before {
	content: "";
}

.ra-muscle-fat:before {
	content: "";
}

.ra-muscle-up:before {
	content: "";
}

.ra-musket:before {
	content: "";
}

.ra-nails:before {
	content: "";
}

.ra-nodular:before {
	content: "";
}

.ra-noose:before {
	content: "";
}

.ra-nuclear:before {
	content: "";
}

.ra-ocarina:before {
	content: "";
}

.ra-ocean-emblem:before {
	content: "";
}

.ra-octopus:before {
	content: "";
}

.ra-omega:before {
	content: "";
}

.ra-on-target:before {
	content: "";
}

.ra-ophiuchus:before {
	content: "";
}

.ra-overhead:before {
	content: "";
}

.ra-overmind:before {
	content: "";
}

.ra-palm-tree:before {
	content: "";
}

.ra-pawn:before {
	content: "";
}

.ra-pawprint:before {
	content: "";
}

.ra-perspective-dice-five:before {
	content: "";
}

.ra-perspective-dice-four:before {
	content: "";
}

.ra-perspective-dice-one:before {
	content: "";
}

.ra-perspective-dice-random:before {
	content: "";
}

.ra-perspective-dice-six:before {
	content: "";
}

.ra-perspective-dice-two:before {
	content: "";
}

.ra-perspective-dice-three:before {
	content: "";
}

.ra-pill:before {
	content: "";
}

.ra-pills:before {
	content: "";
}

.ra-pine-tree:before {
	content: "";
}

.ra-ping-pong:before {
	content: "";
}

.ra-pisces:before {
	content: "";
}

.ra-plain-dagger:before {
	content: "";
}

.ra-player:before {
	content: "";
}

.ra-player-despair:before {
	content: "";
}

.ra-player-dodge:before {
	content: "";
}

.ra-player-king:before {
	content: "";
}

.ra-player-lift:before {
	content: "";
}

.ra-player-pain:before {
	content: "";
}

.ra-player-pyromaniac:before {
	content: "";
}

.ra-player-shot:before {
	content: "";
}

.ra-player-teleport:before {
	content: "";
}

.ra-player-thunder-struck:before {
	content: "";
}

.ra-podium:before {
	content: "";
}

.ra-poison-cloud:before {
	content: "";
}

.ra-potion:before {
	content: "";
}

.ra-pyramids:before {
	content: "";
}

.ra-queen-crown:before {
	content: "";
}

.ra-quill-ink:before {
	content: "";
}

.ra-rabbit:before {
	content: "";
}

.ra-radar-dish:before {
	content: "";
}

.ra-radial-balance:before {
	content: "";
}

.ra-radioactive:before {
	content: "";
}

.ra-raven:before {
	content: "";
}

.ra-reactor:before {
	content: "";
}

.ra-recycle:before {
	content: "";
}

.ra-regeneration:before {
	content: "";
}

.ra-relic-blade:before {
	content: "";
}

.ra-repair:before {
	content: "";
}

.ra-reverse:before {
	content: "";
}

.ra-revolver:before {
	content: "";
}

.ra-rifle:before {
	content: "";
}

.ra-ringing-bell:before {
	content: "";
}

.ra-roast-chicken:before {
	content: "";
}

.ra-robot-arm:before {
	content: "";
}

.ra-round-bottom-flask:before {
	content: "";
}

.ra-round-shield:before {
	content: "";
}

.ra-rss:before {
	content: "";
}

.ra-rune-stone:before {
	content: "";
}

.ra-sagittarius:before {
	content: "";
}

.ra-sapphire:before {
	content: "";
}

.ra-satellite:before {
	content: "";
}

.ra-save:before {
	content: "";
}

.ra-scorpio:before {
	content: "";
}

.ra-scroll-unfurled:before {
	content: "";
}

.ra-scythe:before {
	content: "";
}

.ra-sea-serpent:before {
	content: "";
}

.ra-seagull:before {
	content: "";
}

.ra-shark:before {
	content: "";
}

.ra-sheep:before {
	content: "";
}

.ra-sheriff:before {
	content: "";
}

.ra-shield:before {
	content: "";
}

.ra-ship-emblem:before {
	content: "";
}

.ra-shoe-prints:before {
	content: "";
}

.ra-shot-through-the-heart:before {
	content: "";
}

.ra-shotgun-shell:before {
	content: "";
}

.ra-shovel:before {
	content: "";
}

.ra-shuriken:before {
	content: "";
}

.ra-sickle:before {
	content: "";
}

.ra-sideswipe:before {
	content: "";
}

.ra-site:before {
	content: "";
}

.ra-skull:before {
	content: "";
}

.ra-skull-trophy:before {
	content: "";
}

.ra-slash-ring:before {
	content: "";
}

.ra-small-fire:before {
	content: "";
}

.ra-snail:before {
	content: "";
}

.ra-snake:before {
	content: "";
}

.ra-snorkel:before {
	content: "";
}

.ra-snowflake:before {
	content: "";
}

.ra-soccer-ball:before {
	content: "";
}

.ra-spades:before {
	content: "";
}

.ra-spades-card:before {
	content: "";
}

.ra-spawn-node:before {
	content: "";
}

.ra-spear-head:before {
	content: "";
}

.ra-speech-bubble:before {
	content: "";
}

.ra-speech-bubbles:before {
	content: "";
}

.ra-spider-face:before {
	content: "";
}

.ra-spikeball:before {
	content: "";
}

.ra-spiked-mace:before {
	content: "";
}

.ra-spiked-tentacle:before {
	content: "";
}

.ra-spinning-sword:before {
	content: "";
}

.ra-spiral-shell:before {
	content: "";
}

.ra-splash:before {
	content: "";
}

.ra-spray-can:before {
	content: "";
}

.ra-sprout:before {
	content: "";
}

.ra-sprout-emblem:before {
	content: "";
}

.ra-stopwatch:before {
	content: "";
}

.ra-suckered-tentacle:before {
	content: "";
}

.ra-suits:before {
	content: "";
}

.ra-sun:before {
	content: "";
}

.ra-sun-symbol:before {
	content: "";
}

.ra-sunbeams:before {
	content: "";
}

.ra-super-mushroom:before {
	content: "";
}

.ra-supersonic-arrow:before {
	content: "";
}

.ra-surveillance-camera:before {
	content: "";
}

.ra-syringe:before {
	content: "";
}

.ra-target-arrows:before {
	content: "";
}

.ra-target-laser:before {
	content: "";
}

.ra-targeted:before {
	content: "";
}

.ra-taurus:before {
	content: "";
}

.ra-telescope:before {
	content: "";
}

.ra-tentacle:before {
	content: "";
}

.ra-tesla:before {
	content: "";
}

.ra-thorn-arrow:before {
	content: "";
}

.ra-thorny-vine:before {
	content: "";
}

.ra-three-keys:before {
	content: "";
}

.ra-tic-tac-toe:before {
	content: "";
}

.ra-toast:before {
	content: "";
}

.ra-tombstone:before {
	content: "";
}

.ra-tooth:before {
	content: "";
}

.ra-torch:before {
	content: "";
}

.ra-tower:before {
	content: "";
}

.ra-trail:before {
	content: "";
}

.ra-trefoil-lily:before {
	content: "";
}

.ra-trident:before {
	content: "";
}

.ra-triforce:before {
	content: "";
}

.ra-trophy:before {
	content: "";
}

.ra-turd:before {
	content: "";
}

.ra-two-dragons:before {
	content: "";
}

.ra-two-hearts:before {
	content: "";
}

.ra-uncertainty:before {
	content: "";
}

.ra-underhand:before {
	content: "";
}

.ra-unplugged:before {
	content: "";
}

.ra-vase:before {
	content: "";
}

.ra-venomous-snake:before {
	content: "";
}

.ra-vest:before {
	content: "";
}

.ra-vial:before {
	content: "";
}

.ra-vine-whip:before {
	content: "";
}

.ra-virgo:before {
	content: "";
}

.ra-water-drop:before {
	content: "";
}

.ra-wifi:before {
	content: "";
}

.ra-wireless-signal:before {
	content: "";
}

.ra-wolf-head:before {
	content: "";
}

.ra-wolf-howl:before {
	content: "";
}

.ra-wooden-sign:before {
	content: "";
}

.ra-wrench:before {
	content: "";
}

.ra-wyvern:before {
	content: "";
}

.ra-x-mark:before {
	content: "";
}

.ra-zebra-shield:before {
	content: "";
}

.ra-arcane-mask:before {
	content: "";
}

.ra-aquarius:before {
	content: "";
}

.ra-apple:before {
	content: "";
}

.ra-anvil:before {
	content: "";
}

.ra-ankh:before {
	content: "";
}

.ra-angel-wings:before {
	content: "";
}

.ra-anchor:before {
	content: "";
}

.ra-ammo-bag:before {
	content: "";
}

.ra-alligator-clip:before {
	content: "";
}

.ra-all-for-one:before {
	content: "";
}

.ra-alien-fire:before {
	content: "";
}

.ra-acorn:before {
	content: "";
}

/*# sourceMappingURL=rpg-awesome.css.map */

:root {
	--rpgawesome-font-family: "RPGAwesome";
	--rpgawesome-font-path: "fonts";

	--ra-var-icon-acid: "\e900";
	--ra-var-icon-acorn: "\e901";
	--ra-var-icon-alien-fire: "\e902";
	--ra-var-icon-all-for-one: "\e903";
	--ra-var-icon-alligator-clip: "\e904";
	--ra-var-icon-ammo-bag: "\e905";
	--ra-var-icon-anchor: "\e906";
	--ra-var-icon-angel-wings: "\e907";
	--ra-var-icon-ankh: "\e908";
	--ra-var-icon-anvil: "\e909";
	--ra-var-icon-apple: "\e90a";
	--ra-var-icon-aquarius: "\e90b";
	--ra-var-icon-arcane-mask: "\e90c";
	--ra-var-icon-archer: "\e90d";
	--ra-var-icon-archery-target: "\e90e";
	--ra-var-icon-arena: "\e90f";
	--ra-var-icon-aries: "\e910";
	--ra-var-icon-arrow-cluster: "\e911";
	--ra-var-icon-arrow-flights: "\e912";
	--ra-var-icon-arson: "\e913";
	--ra-var-icon-aura: "\e914";
	--ra-var-icon-aware: "\e915";
	--ra-var-icon-axe-swing: "\e916";
	--ra-var-icon-axe: "\e917";
	--ra-var-icon-ball: "\e918";
	--ra-var-icon-barbed-arrow: "\e919";
	--ra-var-icon-barrier: "\e91a";
	--ra-var-icon-bat-sword: "\e91b";
	--ra-var-icon-battered-axe: "\e91c";
	--ra-var-icon-batteries: "\e91d";
	--ra-var-icon-battery-0: "\e91e";
	--ra-var-icon-battery-25: "\e91f";
	--ra-var-icon-battery-50: "\e920";
	--ra-var-icon-battery-75: "\e921";
	--ra-var-icon-battery-100: "\e922";
	--ra-var-icon-battery-black: "\e923";
	--ra-var-icon-battery-negative: "\e924";
	--ra-var-icon-battery-positive: "\e925";
	--ra-var-icon-battery-white: "\e926";
	--ra-var-icon-batwings: "\e927";
	--ra-var-icon-beam-wake: "\e928";
	--ra-var-icon-bear-trap: "\e929";
	--ra-var-icon-beer: "\e92a";
	--ra-var-icon-beetle: "\e92b";
	--ra-var-icon-bell: "\e92c";
	--ra-var-icon-biohazard: "\e92d";
	--ra-var-icon-bird-claw: "\e92e";
	--ra-var-icon-bird-mask: "\e92f";
	--ra-var-icon-blade-bite: "\e930";
	--ra-var-icon-blast: "\e931";
	--ra-var-icon-blaster: "\e932";
	--ra-var-icon-bleeding-eye: "\e933";
	--ra-var-icon-bleeding-hearts: "\e934";
	--ra-var-icon-bolt-shield: "\e935";
	--ra-var-icon-bomb-explosion: "\e936";
	--ra-var-icon-bombs: "\e937";
	--ra-var-icon-bone-bite: "\e938";
	--ra-var-icon-bone-knife: "\e939";
	--ra-var-icon-book: "\e93a";
	--ra-var-icon-boomerang: "\e93b";
	--ra-var-icon-boot-stomp: "\e93c";
	--ra-var-icon-bottle-vapors: "\e93d";
	--ra-var-icon-bottled-bolt: "\e93e";
	--ra-var-icon-bottom-right: "\e93f";
	--ra-var-icon-bowie-knife: "\e940";
	--ra-var-icon-bowling-pin: "\e941";
	--ra-var-icon-brain-freeze: "\e942";
	--ra-var-icon-brandy-bottle: "\e943";
	--ra-var-icon-bridge: "\e944";
	--ra-var-icon-broadhead-arrow: "\e945";
	--ra-var-icon-broadsword: "\e946";
	--ra-var-icon-broken-bone: "\e947";
	--ra-var-icon-broken-bottle: "\e948";
	--ra-var-icon-broken-heart: "\e949";
	--ra-var-icon-broken-shield: "\e94a";
	--ra-var-icon-broken-skull: "\e94b";
	--ra-var-icon-bubbling-potion: "\e94c";
	--ra-var-icon-bullets: "\e94d";
	--ra-var-icon-burning-book: "\e94e";
	--ra-var-icon-burning-embers: "\e94f";
	--ra-var-icon-burning-eye: "\e950";
	--ra-var-icon-burning-meteor: "\e951";
	--ra-var-icon-burst-blob: "\e952";
	--ra-var-icon-butterfly: "\e953";
	--ra-var-icon-campfire: "\e954";
	--ra-var-icon-cancel: "\e955";
	--ra-var-icon-cancer: "\e956";
	--ra-var-icon-candle-fire: "\e957";
	--ra-var-icon-candle: "\e958";
	--ra-var-icon-cannon-shot: "\e959";
	--ra-var-icon-capitol: "\e95a";
	--ra-var-icon-capricorn: "\e95b";
	--ra-var-icon-carrot: "\e95c";
	--ra-var-icon-castle-emblem: "\e95d";
	--ra-var-icon-castle-flag: "\e95e";
	--ra-var-icon-cat: "\e95f";
	--ra-var-icon-chain: "\e960";
	--ra-var-icon-cheese: "\e961";
	--ra-var-icon-chemical-arrow: "\e962";
	--ra-var-icon-chessboard: "\e963";
	--ra-var-icon-chicken-leg: "\e964";
	--ra-var-icon-circle-of-circles: "\e965";
	--ra-var-icon-circular-saw: "\e966";
	--ra-var-icon-circular-shield: "\e967";
	--ra-var-icon-cloak-and-dagger: "\e968";
	--ra-var-icon-clockwork: "\e969";
	--ra-var-icon-clover: "\e96a";
	--ra-var-icon-clovers-card: "\e96b";
	--ra-var-icon-clovers: "\e96c";
	--ra-var-icon-cluster-bomb: "\e96d";
	--ra-var-icon-coffee-mug: "\e96e";
	--ra-var-icon-cog-wheel: "\e96f";
	--ra-var-icon-cog: "\e970";
	--ra-var-icon-cold-heart: "\e971";
	--ra-var-icon-compass: "\e972";
	--ra-var-icon-corked-tube: "\e973";
	--ra-var-icon-crab-claw: "\e974";
	--ra-var-icon-cracked-helm: "\e975";
	--ra-var-icon-cracked-shield: "\e976";
	--ra-var-icon-croc-sword: "\e977";
	--ra-var-icon-crossbow: "\e978";
	--ra-var-icon-crossed-axes: "\e979";
	--ra-var-icon-crossed-bones: "\e97a";
	--ra-var-icon-crossed-pistols: "\e97b";
	--ra-var-icon-crossed-sabres: "\e97c";
	--ra-var-icon-crossed-swords: "\e97d";
	--ra-var-icon-crown-of-thorns: "\e97e";
	--ra-var-icon-crown: "\e97f";
	--ra-var-icon-crowned-heart: "\e980";
	--ra-var-icon-crush: "\e981";
	--ra-var-icon-crystal-ball: "\e982";
	--ra-var-icon-crystal-cluster: "\e983";
	--ra-var-icon-crystal-wand: "\e984";
	--ra-var-icon-crystals: "\e985";
	--ra-var-icon-cubes: "\e986";
	--ra-var-icon-cut-palm: "\e987";
	--ra-var-icon-cycle: "\e988";
	--ra-var-icon-daggers: "\e989";
	--ra-var-icon-daisy: "\e98a";
	--ra-var-icon-dead-tree: "\e98b";
	--ra-var-icon-death-skull: "\e98c";
	--ra-var-icon-decapitation: "\e98d";
	--ra-var-icon-defibrillate: "\e98e";
	--ra-var-icon-demolish: "\e98f";
	--ra-var-icon-dervish-swords: "\e990";
	--ra-var-icon-desert-skull: "\e991";
	--ra-var-icon-diamond: "\e992";
	--ra-var-icon-diamonds-card: "\e993";
	--ra-var-icon-diamonds: "\e994";
	--ra-var-icon-dice-five: "\e995";
	--ra-var-icon-dice-four: "\e996";
	--ra-var-icon-dice-one: "\e997";
	--ra-var-icon-dice-six: "\e998";
	--ra-var-icon-dice-three: "\e999";
	--ra-var-icon-dice-two: "\e99a";
	--ra-var-icon-dinosaur: "\e99b";
	--ra-var-icon-divert: "\e99c";
	--ra-var-icon-diving-dagger: "\e99d";
	--ra-var-icon-double-team: "\e99e";
	--ra-var-icon-doubled: "\e99f";
	--ra-var-icon-dragon-breath: "\e9a0";
	--ra-var-icon-dragon-wing: "\e9a1";
	--ra-var-icon-dragon: "\e9a2";
	--ra-var-icon-dragonfly: "\e9a3";
	--ra-var-icon-drill: "\e9a4";
	--ra-var-icon-dripping-blade: "\e9a5";
	--ra-var-icon-dripping-knife: "\e9a6";
	--ra-var-icon-dripping-sword: "\e9a7";
	--ra-var-icon-droplet-splash: "\e9a8";
	--ra-var-icon-droplet: "\e9a9";
	--ra-var-icon-droplets: "\e9aa";
	--ra-var-icon-duel: "\e9ab";
	--ra-var-icon-egg-pod: "\e9ac";
	--ra-var-icon-egg: "\e9ad";
	--ra-var-icon-eggplant: "\e9ae";
	--ra-var-icon-emerald: "\e9af";
	--ra-var-icon-energise: "\e9b0";
	--ra-var-icon-explosion: "\e9b1";
	--ra-var-icon-explosive-materials: "\e9b2";
	--ra-var-icon-eye-monster: "\e9b3";
	--ra-var-icon-eye-shield: "\e9b4";
	--ra-var-icon-eyeball: "\e9b5";
	--ra-var-icon-fairy-wand: "\e9b6";
	--ra-var-icon-fairy: "\e9b7";
	--ra-var-icon-fall-down: "\e9b8";
	--ra-var-icon-falling: "\e9b9";
	--ra-var-icon-fast-ship: "\e9ba";
	--ra-var-icon-feather-wing: "\e9bb";
	--ra-var-icon-feathered-wing: "\e9bc";
	--ra-var-icon-fedora: "\e9bd";
	--ra-var-icon-fire-bomb: "\e9be";
	--ra-var-icon-fire-breath: "\e9bf";
	--ra-var-icon-fire-ring: "\e9c0";
	--ra-var-icon-fire-shield: "\e9c1";
	--ra-var-icon-fire-symbol: "\e9c2";
	--ra-var-icon-fire: "\e9c3";
	--ra-var-icon-fireball-sword: "\e9c4";
	--ra-var-icon-fish: "\e9c5";
	--ra-var-icon-fizzing-flask: "\e9c6";
	--ra-var-icon-flame-symbol: "\e9c7";
	--ra-var-icon-flaming-arrow: "\e9c8";
	--ra-var-icon-flaming-claw: "\e9c9";
	--ra-var-icon-flaming-trident: "\e9ca";
	--ra-var-icon-flask: "\e9cb";
	--ra-var-icon-flat-hammer: "\e9cc";
	--ra-var-icon-flower: "\e9cd";
	--ra-var-icon-flowers: "\e9ce";
	--ra-var-icon-fluffy-swirl: "\e9cf";
	--ra-var-icon-focused-lightning: "\e9d0";
	--ra-var-icon-food-chain: "\e9d1";
	--ra-var-icon-footprint: "\e9d2";
	--ra-var-icon-forging: "\e9d3";
	--ra-var-icon-forward: "\e9d4";
	--ra-var-icon-fox: "\e9d5";
	--ra-var-icon-frost-emblem: "\e9d6";
	--ra-var-icon-frostfire: "\e9d7";
	--ra-var-icon-frozen-arrow: "\e9d8";
	--ra-var-icon-gamepad-cross: "\e9d9";
	--ra-var-icon-gavel: "\e9da";
	--ra-var-icon-gear-hammer: "\e9db";
	--ra-var-icon-gear-heart: "\e9dc";
	--ra-var-icon-gears: "\e9dd";
	--ra-var-icon-gecko: "\e9de";
	--ra-var-icon-gem-pendant: "\e9df";
	--ra-var-icon-gem: "\e9e0";
	--ra-var-icon-gemini: "\e9e1";
	--ra-var-icon-glass-heart: "\e9e2";
	--ra-var-icon-gloop: "\e9e3";
	--ra-var-icon-gold-bar: "\e9e4";
	--ra-var-icon-grappling-hook: "\e9e5";
	--ra-var-icon-grass-patch: "\e9e6";
	--ra-var-icon-grass: "\e9e7";
	--ra-var-icon-grenade: "\e9e8";
	--ra-var-icon-groundbreaker: "\e9e9";
	--ra-var-icon-guarded-tower: "\e9ea";
	--ra-var-icon-guillotine: "\e9eb";
	--ra-var-icon-halberd: "\e9ec";
	--ra-var-icon-hammer-drop: "\e9ed";
	--ra-var-icon-hammer: "\e9ee";
	--ra-var-icon-hand-emblem: "\e9ef";
	--ra-var-icon-hand-saw: "\e9f0";
	--ra-var-icon-hand: "\e9f1";
	--ra-var-icon-harpoon-trident: "\e9f2";
	--ra-var-icon-health-decrease: "\e9f3";
	--ra-var-icon-health-increase: "\e9f4";
	--ra-var-icon-health: "\e9f5";
	--ra-var-icon-heart-bottle: "\e9f6";
	--ra-var-icon-heart-tower: "\e9f7";
	--ra-var-icon-heartburn: "\e9f8";
	--ra-var-icon-hearts-card: "\e9f9";
	--ra-var-icon-hearts: "\e9fa";
	--ra-var-icon-heat-haze: "\e9fb";
	--ra-var-icon-heavy-fall: "\e9fc";
	--ra-var-icon-heavy-shield: "\e9fd";
	--ra-var-icon-helmet: "\e9fe";
	--ra-var-icon-help: "\e9ff";
	--ra-var-icon-hive-emblem: "\ea00";
	--ra-var-icon-hole-ladder: "\ea01";
	--ra-var-icon-honeycomb: "\ea02";
	--ra-var-icon-hood: "\ea03";
	--ra-var-icon-horn-call: "\ea04";
	--ra-var-icon-horns: "\ea05";
	--ra-var-icon-horseshoe: "\ea06";
	--ra-var-icon-hospital-cross: "\ea07";
	--ra-var-icon-hot-surface: "\ea08";
	--ra-var-icon-hourglass: "\ea09";
	--ra-var-icon-hydra-shot: "\ea0a";
	--ra-var-icon-hydra: "\ea0b";
	--ra-var-icon-ice-cube: "\ea0c";
	--ra-var-icon-implosion: "\ea0d";
	--ra-var-icon-incense: "\ea0e";
	--ra-var-icon-insect-jaws: "\ea0f";
	--ra-var-icon-interdiction: "\ea10";
	--ra-var-icon-jetpack: "\ea11";
	--ra-var-icon-jigsaw-piece: "\ea12";
	--ra-var-icon-kaleidoscope: "\ea13";
	--ra-var-icon-kettlebell: "\ea14";
	--ra-var-icon-key-basic: "\ea15";
	--ra-var-icon-key: "\ea16";
	--ra-var-icon-kitchen-knives: "\ea17";
	--ra-var-icon-knife-fork: "\ea18";
	--ra-var-icon-knife: "\ea19";
	--ra-var-icon-knight-helmet: "\ea1a";
	--ra-var-icon-kunai: "\ea1b";
	--ra-var-icon-lantern-flame: "\ea1c";
	--ra-var-icon-large-hammer: "\ea1d";
	--ra-var-icon-laser-blast: "\ea1e";
	--ra-var-icon-laser-site: "\ea1f";
	--ra-var-icon-lava: "\ea20";
	--ra-var-icon-leaf: "\ea21";
	--ra-var-icon-leo: "\ea22";
	--ra-var-icon-level-four-advanced: "\ea23";
	--ra-var-icon-level-four: "\ea24";
	--ra-var-icon-level-three-advanced: "\ea25";
	--ra-var-icon-level-three: "\ea26";
	--ra-var-icon-level-two-advanced: "\ea27";
	--ra-var-icon-level-two: "\ea28";
	--ra-var-icon-lever: "\ea29";
	--ra-var-icon-libra: "\ea2a";
	--ra-var-icon-light-bulb: "\ea2b";
	--ra-var-icon-lighthouse: "\ea2c";
	--ra-var-icon-lightning-bolt: "\ea2d";
	--ra-var-icon-lightning-storm: "\ea2e";
	--ra-var-icon-lightning-sword: "\ea2f";
	--ra-var-icon-lightning-trio: "\ea30";
	--ra-var-icon-lightning: "\ea31";
	--ra-var-icon-lion: "\ea32";
	--ra-var-icon-lit-candelabra: "\ea33";
	--ra-var-icon-load: "\ea34";
	--ra-var-icon-locked-fortress: "\ea35";
	--ra-var-icon-love-howl: "\ea36";
	--ra-var-icon-maggot: "\ea37";
	--ra-var-icon-magnet: "\ea38";
	--ra-var-icon-mass-driver: "\ea39";
	--ra-var-icon-match: "\ea3a";
	--ra-var-icon-meat-hook: "\ea3b";
	--ra-var-icon-meat: "\ea3c";
	--ra-var-icon-medical-pack: "\ea3d";
	--ra-var-icon-metal-gate: "\ea3e";
	--ra-var-icon-microphone: "\ea3f";
	--ra-var-icon-mine-wagon: "\ea40";
	--ra-var-icon-mining-diamonds: "\ea41";
	--ra-var-icon-mirror: "\ea42";
	--ra-var-icon-monster-skull: "\ea43";
	--ra-var-icon-moon-sun: "\ea45";
	--ra-var-icon-mountains: "\ea44";
	--ra-var-icon-mp5: "\ea46";
	--ra-var-icon-muscle-fat: "\ea47";
	--ra-var-icon-muscle-up: "\ea48";
	--ra-var-icon-musket: "\ea49";
	--ra-var-icon-nails: "\ea4a";
	--ra-var-icon-nodular: "\ea4b";
	--ra-var-icon-noose: "\ea4c";
	--ra-var-icon-nuclear: "\ea4d";
	--ra-var-icon-ocarina: "\ea4e";
	--ra-var-icon-ocean-emblem: "\ea4f";
	--ra-var-icon-octopus: "\ea50";
	--ra-var-icon-omega: "\ea51";
	--ra-var-icon-on-target: "\ea52";
	--ra-var-icon-ophiuchus: "\ea53";
	--ra-var-icon-overhead: "\ea54";
	--ra-var-icon-overmind: "\ea55";
	--ra-var-icon-palm-tree: "\ea56";
	--ra-var-icon-pawn: "\ea57";
	--ra-var-icon-pawprint: "\ea58";
	--ra-var-icon-perspective-dice-five: "\ea59";
	--ra-var-icon-perspective-dice-four: "\ea5a";
	--ra-var-icon-perspective-dice-one: "\ea5b";
	--ra-var-icon-perspective-dice-random: "\ea5c";
	--ra-var-icon-perspective-dice-two: "\ea5d";
	--ra-var-icon-perspective-dice-six: "\ea5e";
	--ra-var-icon-perspective-dice-three: "\ea5f";
	--ra-var-icon-pill: "\ea60";
	--ra-var-icon-pills: "\ea61";
	--ra-var-icon-pine-tree: "\ea62";
	--ra-var-icon-ping-pong: "\ea63";
	--ra-var-icon-pisces: "\ea64";
	--ra-var-icon-plain-dagger: "\ea65";
	--ra-var-icon-player-despair: "\ea66";
	--ra-var-icon-player-dodge: "\ea67";
	--ra-var-icon-player-king: "\ea68";
	--ra-var-icon-player-lift: "\ea69";
	--ra-var-icon-player-pain: "\ea6a";
	--ra-var-icon-player-pyromaniac: "\ea6b";
	--ra-var-icon-player-shot: "\ea6c";
	--ra-var-icon-player-teleport: "\ea6d";
	--ra-var-icon-player-thunder-struck: "\ea6e";
	--ra-var-icon-player: "\ea6f";
	--ra-var-icon-podium: "\ea70";
	--ra-var-icon-poison-cloud: "\ea71";
	--ra-var-icon-potion: "\ea72";
	--ra-var-icon-pyramids: "\ea73";
	--ra-var-icon-queen-crown: "\ea74";
	--ra-var-icon-quill-ink: "\ea75";
	--ra-var-icon-rabbit: "\ea76";
	--ra-var-icon-radar-dish: "\ea77";
	--ra-var-icon-radial-balance: "\ea78";
	--ra-var-icon-radioactive: "\ea79";
	--ra-var-icon-raven: "\ea7a";
	--ra-var-icon-reactor: "\ea7b";
	--ra-var-icon-recycle: "\ea7c";
	--ra-var-icon-regeneration: "\ea7d";
	--ra-var-icon-relic-blade: "\ea7e";
	--ra-var-icon-repair: "\ea7f";
	--ra-var-icon-reverse: "\ea80";
	--ra-var-icon-revolver: "\ea81";
	--ra-var-icon-rifle: "\ea82";
	--ra-var-icon-ringing-bell: "\ea83";
	--ra-var-icon-roast-chicken: "\ea84";
	--ra-var-icon-robot-arm: "\ea85";
	--ra-var-icon-round-bottom-flask: "\ea86";
	--ra-var-icon-round-shield: "\ea87";
	--ra-var-icon-rss: "\ea88";
	--ra-var-icon-rune-stone: "\ea89";
	--ra-var-icon-sagittarius: "\ea8a";
	--ra-var-icon-sapphire: "\ea8b";
	--ra-var-icon-satellite: "\ea8c";
	--ra-var-icon-save: "\ea8d";
	--ra-var-icon-scorpio: "\ea8e";
	--ra-var-icon-scroll-unfurled: "\ea8f";
	--ra-var-icon-scythe: "\ea90";
	--ra-var-icon-sea-serpent: "\ea91";
	--ra-var-icon-seagull: "\ea92";
	--ra-var-icon-shark: "\ea93";
	--ra-var-icon-sheep: "\ea94";
	--ra-var-icon-sheriff: "\ea95";
	--ra-var-icon-shield: "\ea96";
	--ra-var-icon-ship-emblem: "\ea97";
	--ra-var-icon-shoe-prints: "\ea98";
	--ra-var-icon-shot-through-the-heart: "\ea99";
	--ra-var-icon-shotgun-shell: "\ea9a";
	--ra-var-icon-shovel: "\ea9b";
	--ra-var-icon-shuriken: "\ea9c";
	--ra-var-icon-sickle: "\ea9d";
	--ra-var-icon-sideswipe: "\ea9e";
	--ra-var-icon-site: "\ea9f";
	--ra-var-icon-skull-trophy: "\eaa0";
	--ra-var-icon-skull: "\eaa1";
	--ra-var-icon-slash-ring: "\eaa2";
	--ra-var-icon-small-fire: "\eaa3";
	--ra-var-icon-snail: "\eaa4";
	--ra-var-icon-snake: "\eaa5";
	--ra-var-icon-snorkel: "\eaa6";
	--ra-var-icon-snowflake: "\eaa7";
	--ra-var-icon-soccer-ball: "\eaa8";
	--ra-var-icon-spades-card: "\eaa9";
	--ra-var-icon-spades: "\eaaa";
	--ra-var-icon-spawn-node: "\eaab";
	--ra-var-icon-spear-head: "\eaac";
	--ra-var-icon-speech-bubble: "\eaad";
	--ra-var-icon-speech-bubbles: "\eaae";
	--ra-var-icon-spider-face: "\eaaf";
	--ra-var-icon-spikeball: "\eab0";
	--ra-var-icon-spiked-mace: "\eab1";
	--ra-var-icon-spiked-tentacle: "\eab2";
	--ra-var-icon-spinning-sword: "\eab3";
	--ra-var-icon-spiral-shell: "\eab4";
	--ra-var-icon-splash: "\eab5";
	--ra-var-icon-spray-can: "\eab6";
	--ra-var-icon-sprout-emblem: "\eab7";
	--ra-var-icon-sprout: "\eab8";
	--ra-var-icon-stopwatch: "\eab9";
	--ra-var-icon-suckered-tentacle: "\eaba";
	--ra-var-icon-suits: "\eabb";
	--ra-var-icon-sun-symbol: "\eabc";
	--ra-var-icon-sun: "\eabd";
	--ra-var-icon-sunbeams: "\eabe";
	--ra-var-icon-super-mushroom: "\eabf";
	--ra-var-icon-supersonic-arrow: "\eac0";
	--ra-var-icon-surveillance-camera: "\eac1";
	--ra-var-icon-syringe: "\eac2";
	--ra-var-icon-target-arrows: "\eac3";
	--ra-var-icon-target-laser: "\eac4";
	--ra-var-icon-targeted: "\eac5";
	--ra-var-icon-taurus: "\eac6";
	--ra-var-icon-telescope: "\eac7";
	--ra-var-icon-tentacle: "\eac8";
	--ra-var-icon-tesla: "\eac9";
	--ra-var-icon-thorn-arrow: "\eaca";
	--ra-var-icon-thorny-vine: "\eacb";
	--ra-var-icon-three-keys: "\eacc";
	--ra-var-icon-tic-tac-toe: "\eacd";
	--ra-var-icon-toast: "\eace";
	--ra-var-icon-tombstone: "\eacf";
	--ra-var-icon-tooth: "\ead0";
	--ra-var-icon-torch: "\ead1";
	--ra-var-icon-tower: "\ead2";
	--ra-var-icon-trail: "\ead3";
	--ra-var-icon-trefoil-lily: "\ead4";
	--ra-var-icon-trident: "\ead5";
	--ra-var-icon-triforce: "\ead6";
	--ra-var-icon-trophy: "\ead7";
	--ra-var-icon-turd: "\ead8";
	--ra-var-icon-two-dragons: "\ead9";
	--ra-var-icon-two-hearts: "\eada";
	--ra-var-icon-uncertainty: "\eadb";
	--ra-var-icon-underhand: "\eadc";
	--ra-var-icon-unplugged: "\eadd";
	--ra-var-icon-vase: "\eade";
	--ra-var-icon-venomous-snake: "\eadf";
	--ra-var-icon-vest: "\eae0";
	--ra-var-icon-vial: "\eae1";
	--ra-var-icon-vine-whip: "\eae2";
	--ra-var-icon-virgo: "\eae3";
	--ra-var-icon-water-drop: "\eae4";
	--ra-var-icon-wifi: "\eae5";
	--ra-var-icon-wireless-signal: "\eae6";
	--ra-var-icon-wolf-head: "\eae7";
	--ra-var-icon-wolf-howl: "\eae8";
	--ra-var-icon-wooden-sign: "\eae9";
	--ra-var-icon-wrench: "\eaea";
	--ra-var-icon-wyvern: "\eaeb";
	--ra-var-icon-x-mark: "\eaec";
	--ra-var-icon-zebra-shield: "\eaed";
	--ra-var-icon-zigzag-leaf: "\eaee";
}

/* Custom icon setup */

.ra.forum-icon {
	margin-right: 0.3em;
	vertical-align: text-bottom;
	&:before {
		content: var(--ra-var-icon-speech-bubble);
	}
}

.ra.forum-root-6::before {
	/* Game discussion */
	content: var(--ra-var-icon-pawn);
}

.ra.forum-root-20::before {
	/* Guides */
	content: var(--ra-var-icon-wooden-sign);
}

.ra.forum-root-22::before {
	/* Management */
	content: var(--ra-var-icon-sheriff);
}

.ra.forum-root-2::before {
	/* Games */
	content: var(--ra-var-icon-d6);
}

.ra.forum-id-3::before {
	/* Announcements */
	content: var(--ra-var-icon-gamers-plane);
}

.ra.forum-id-10::before {
	/* Tavern */
	content: var(--ra-var-icon-beer);
}

.ra.forum-id-14::before {
	/* Introductions */
	content: var(--ra-var-icon-hearts);
}

.ra.forum-id-8672::before {
	/* Questions and help */
	content: var(--ra-var-icon-help);
}
