.die {
	display: inline-block;
	padding: 5px;
	border: 1px solid #999;
	border-radius: 3px;
}

.window {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	overflow: hidden;
}

.sprite {
	position: absolute;
	left: 0;
	width: 30px;
	height: 60px;
	max-width: none;
}
