[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[dev-packages]
black = "==21.12b0"
pdbpp = "*"
ipdb = "*"
icecream = "*"
mock = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
mimesis = "*"
mimesis-factory = "*"
pytest-factoryboy = "*"

[packages]
flask = "*"
python-dotenv = "*"
bcrypt = "*"
flask-cors = "*"
pyjwt = "*"
django = "*"
gunicorn = "*"
mysqlclient = "*"
django-mysql = "*"
jinja2 = "*"
inflect = "*"
django-redis = "*"
djangorestframework = "*"
